
//======================================//
//  This system is managed by Ansible.  //
//======================================//

OS          :   {{ ansible_lsb.description }} {{ ansible_architecture }}
Hostname    :   {{ ansible_hostname }}
 
