#!/bin/sh -e
# {{ ansible_managed }}
#
# rc.local
#
# This script is executed at the end of each multiuser runlevel.
# Make sure that the script will "exit 0" on success or any other
# value on error.
#
# In order to enable or disable this script just change the execution
# bits.
#
# By default this script does nothing.

PUBLICIP="$(curl -sSL 'https://api.ipify.org')"
LOCALIP="$(hostname -I)"
MACHINE="$(hostname)"

API_KEY="{{ telegram_api_key }}"
CHANNEL="{{ telegram_channel_id }}"

# if {is_vm} == true
if [ "{{ is_vm | default('false') }}" = "true" ]; then
	FLAG="-vm"
fi

text="$MACHINE$FLAG%0A$LOCALIP%20:%20$PUBLICIP"

# Send boot notification
curl -sS "https://api.telegram.org/bot$API_KEY/sendMessage?chat_id=$CHANNEL&text=$text" > /dev/null

exit 0
